{% block block1 %}

    <!-- _="on click call alert('You clicked me!')" -->
    <!-- _="on click toggle .red on me" -->

<tr class="border-b dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-700">
    <!--th scope="row" class="px-4 py-3 font-medium text-gray-900 whitespace-nowrap dark:text-white">1</th-->
  <td class="px-4 py-3">
    <p class="
      text-center 
      text-sm 
      text-gray-500 
      dark:text-gray-400"
    >
      {{ seq_row.marker_left }}
    </p>
  </td>
  {% for seq_part in seq_row.row_seq_parts %}
  <td class="px-4 py-3 seq"
      index-range="{{ seq_part.index_start }}-{{ seq_part.index_end }}"
      _="on mouseenter 
          put my @index-range into #seq-range
          add .seq-index-range-yellow to #seq-range
         on mouseleave 
          put '' into #seq-range
          remove .seq-index-range-yellow from #seq-range
    "
  >
    <p class="
      text-center 
      text-sm 
      whitespace-nowrap
      tracking-tight 
      text-gray-500 
      dark:text-gray-400"
    >
      {{ seq_part.seq_markup|safeseq|join:"" }}
    </p>
  </td>
  {% endfor %}
  <td class="px-4 py-3">
    <p class="
      text-center 
      text-sm 
      text-gray-500 
      dark:text-gray-400"
    >
      {{ seq_row.marker_right }}
    </p>
  </td>
</tr>
{% endblock block1 %}
