{% block block1 %}
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400"
    _="on load set #seq-search@hx-post to '{{ seq_table_url }}'"
>

  {% comment %}
      put '{{ seq_table_url }}' into #seq-search's hx-post"
     _="on htmx:afterOnLoad 
      put '{{ seq_table_url }}' into #seq-search's hx-post"
         if #download-nucleotide-modal is not null 
         then trigger click on #download-nucleotide-modal"
  {% endcomment %}

    <caption class="p-5 text-lg font-semibold text-left rtl:text-right text-gray-900 bg-white dark:text-white dark:bg-gray-800">
    {{ nucleotide.entrez_id}} {{ nucleotide.seq_length }} chars
    <p class="mt-1 text-sm font-normal text-gray-500 dark:text-gray-400">
    {{ nucleotide.title }}
    </p>
    </caption>

    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-4 py-3"></th>
            <th scope="col" class="px-4 py-3">
              <p class="text-center text-gray-500 dark:text-gray-400">1-10</p>
            </th>
            <th scope="col" class="px-4 py-3">
              <p class="text-center text-gray-500 dark:text-gray-400">11-20</p>
            </th>
            <th scope="col" class="px-4 py-3">
              <p class="text-center text-gray-500 dark:text-gray-400">21-30</p>
            </th>
            <th scope="col" class="px-4 py-3">
              <p class="text-center text-gray-500 dark:text-gray-400">31-40</p>
            </th>
            <th scope="col" class="px-4 py-3">
              <p class="text-center text-gray-500 dark:text-gray-400">41-50</p>
            </th>
            <th scope="col" class="px-4 py-3" id="seq-range">
            </th>
        </tr>
    </thead>
    <tbody>
      {% for row_as_str in rows_as_strs %}
        {{ row_as_str|safe }}
      {% endfor %}

    </tbody>

  {% comment %}
    <tfoot>
      <tr class="font-semibold text-gray-900 dark:text-white">
          <th scope="row" class="px-6 py-3 text-base">Load more rows</th>
          <!--td class="px-6 py-3">3</td>
          <td class="px-6 py-3">21,000</td-->
      </tr>
  </tfoot>
  {% endcomment %}
</table>
{% endblock block1 %}
