{% block block1 %}
<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <!--thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-4 py-3">Product name</th>
            <th scope="col" class="px-4 py-3">Category</th>
            <th scope="col" class="px-4 py-3">Brand</th>
            <th scope="col" class="px-4 py-3">Description</th>
            <th scope="col" class="px-4 py-3">Price</th>
            <th scope="col" class="px-4 py-3">
                <span class="sr-only">Actions</span>
            </th>
        </tr>
    </thead-->
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            <th scope="col" class="px-4 py-3"></th>
            <th scope="col" class="px-4 py-3">1-10</th>
            <th scope="col" class="px-4 py-3">11-20</th>
            <th scope="col" class="px-4 py-3">21-30</th>
            <th scope="col" class="px-4 py-3">31-40</th>
            <th scope="col" class="px-4 py-3">41-50</th>
            <th scope="col" class="px-4 py-3"></th>

            <!--th scope="col" class="px-4 py-3">
                <span class="sr-only">Actions</span>
            </th-->
        </tr>
    </thead>
    <tbody>
      {% for row_as_str in rows_as_strs %}
        {{ row_as_str|safe }}
      {% endfor %}
    </tbody>
</table>
{% endblock block1 %}
