<!-- templates/_base.html -->

{% load compress %}
{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sequence Viewer</title>

      {% compress css %}
      <link rel="stylesheet" href="{% static 'src/output.css' %}">
      {% endcompress %}

      <meta name="htmx-config" content='{"historyCacheSize": 15}'>

      {% htmx_script %}
      <script src="{% static 'src/js/debug.js' %}" defer></script>
      <script src="{% static 'src/js/hyperscript.min.js' %}"></script>
      <script src="{% static 'src/js/flowbite.min.js' %}"></script>

      <style>
        td.seq:hover {
          background-color: yellow;
        }
        .seq-index-range-yellow {
          background-color: yellow;
        }
      </style>

  </head>

  <body 
    class="bg-gray-50 dark:bg-gray-900 antialiased" hx-ext="debug" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
      <div class="container mx-auto mt-4"
        {% if nucleotides|length %}
        hx-get="{{ seq_table_url }}"
        hx-trigger="load delay:1ms"
        hx-target="#seq-table"
        hx-swap="innerHTML" 
        {% endif %}
      >

      {% comment %} 
        hx-get="{% url 'seq-table' nucleotides.0.entrez_id %}"
      {% endcomment %} 

          {% block content %}
          {% endblock content %}
      </div>
  </body>
</html>
