<!-- templates/_base.html -->

{% load compress %}
{% load static %}
{% load django_htmx %}

<!DOCTYPE html>
<html lang="en" class="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sequence Viewer</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}

     {% htmx_script %}
    <style>
      td.seq:hover {
        background-color: yellow;
      }
      .seq-index-range-yellow {
        background-color: yellow;
      }
    </style>

</head>

<body class="bg-gray-50 dark:bg-gray-900 antialiased"  hx-ext="debug" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <div class="container mx-auto mt-4"
      hx-get="{% url 'seq-table' '30271926' %}"
      hx-trigger="load delay:1ms"
      hx-target="#seq-table"
      hx-swap="innerHTML" 
    >
        {% block content %}
        {% endblock content %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@3.1.2/dist/flowbite.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.6/dist/htmx.min.js"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.14"></script>
    <script src="https://unpkg.com/htmx-ext-debug@2.0.0/debug.js"></script>
</body>

</html>
