<!-- templates/index.html -->

{% extends "_base.html" %}

{% block content %}
<section class="bg-gray-50 dark:bg-gray-900 p-3 sm:p-5">
    <div class="mx-auto max-w-screen-xl px-4 lg:px-12">
      <!-- Start coding here -->
      <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
        <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
          <div class="w-full md:w-1/2">
            <form class="flex items-center">
                <label for="seq-search" class="sr-only">Search</label>
                <div class="relative w-full">
                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                        </svg>
                    </div>
                    <input 
                      type="text"
                      id="seq-search"
                      name="seq_search_query"
                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                      placeholder="Locate a sequence using a regex i.e (AATCGA|GGCAT)"
                      required=""
                      hx-post="{{ seq_table_url }}"
                      hx-trigger="input changed delay:500ms, keyup[key=='Enter']"
                      hx-target="#seq-table"
                      hx-swap="innerHTML"
                    >
              {% comment %}
                {% url 'seq-table' initial_nuc.entrez_id %}
              {% endcomment %}
                </div>
            </form>
          </div>

          <div>
              <button hx-ext="debug">Debug Me...</button>
          </div>

          {% comment %}
          <div>
              <button id="dropdownActionButton" data-dropdown-toggle="dropdownAction" class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700" type="button">
                  <span class="sr-only">Action button</span> Actions 
                  <svg class="w-2.5 h-2.5 ms-2.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                  </svg>
              </button>
              <!-- Dropdown menu -->
              <div id="dropdownAction" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-44 dark:bg-gray-700 dark:divide-gray-600">
                  <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownActionButton">
                      <li>
                          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Reward</a>
                      </li>
                      <li>
                          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Promote</a>
                      </li>
                      <li>
                          <a href="#" class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">Activate account</a>
                      </li>
                  </ul>
                  <div class="py-1">
                      <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Delete User</a>
                  </div>
              </div>
          </div>

          {% endcomment %}

            <!-- modal toggle -->
            <button data-modal-target="download-nucleotide-modal" data-modal-toggle="download-nucleotide-modal" class="block text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 whitespace-nowrap" type="button">
              Download new nucleotide
            </button>

            <!-- main modal -->
            <div id="download-nucleotide-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <!-- modal content -->
                    <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                        <!-- modal header -->
                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                            <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                                  Download nucleotide from NIH's nucleotide database
                            </h3>
                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="download-nucleotide-modal">
                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 14 14">
                                    <path stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6m7 7l6-6m7 7l-6 6"/>
                                </svg>
                                <span class="sr-only">close modal</span>
                            </button>
                        </div>
                        <!-- modal body -->
                        <form class="p-4 md:p-5">
                            <div class="grid gap-4 mb-4 grid-cols-2">
                                <div class="col-span-2">
                                    <label for="seq_id" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">UID</label>
                                    <input type="text" name="seq_id" id="seq_id" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="enter entrez uid" required="">
                                </div>
                            </div>

                            <button type="submit" class="text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                              hx-post="{% url 'download-nucleotide' %}"
                              hx-trigger="click"
                              hx-target="#seq-table"
                              hx-swap="innerHTML"
                            >
                                <svg class="me-1 -ms-1 w-5 h-5" fill="currentcolor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="m10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3h6a1 1 0 110-2h3v6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                                download nucleotide
                            </button>
                        </form>
                    </div>
                </div>
            </div> 

          <div id="exampleWrapper" class="flex justify-center">
            <button id="dropdownRadioHelperButton" data-dropdown-toggle="dropdownRadioHelper" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 whitespace-nowrap" type="button">
            Available nucleotides <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div id="dropdownRadioHelper" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-60 dark:bg-gray-700 dark:divide-gray-600">
                <ul class="p-3 space-y-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownRadioHelperButton">
                  {% for nucleotide in nucleotides %}
                  <li>
                    <div class="flex p-2 rounded-sm hover:bg-gray-100 dark:hover:bg-gray-600">
                      <div class="flex items-center h-5">
                      <input id="helper-radio-{{ forloop.counter }}" name="helper-radio" type="radio" value="{{ nucleotide.entrez_id }}" class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-700 dark:focus:ring-offset-gray-700 focus:ring-2 dark:bg-gray-600 dark:border-gray-500"
                        hx-get="{% url 'seq-table' nucleotide.entrez_id %}"
                        hx-target="#seq-table"
                        hx-trigger="change"
                        hx-swap="innerHTML"
                      >
                      <!--
                        _="on change set #nucleotide-selection@hx-get to '{% url 'seq-table' nucleotide.entrez_id %}' 
                    -->
                      </div>
                      <div class="ms-2 text-sm">
                      <label for="helper-radio-{{ forloop.counter }}" class="font-medium text-gray-900 dark:text-gray-300">
                      <div>{{ nucleotide.entrez_id }} ({{ nucleotide.seq_length}} chars)</div>
                        <p id="helper-radio-text-{{ forloop.counter }}" class="text-xs font-normal text-gray-500 dark:text-gray-300">{{ nucleotide.description }}</p>
                          </label>
                      </div>
                    </div>
                  </li>
                  {% empty %}
                      <div class="ms-2 text-sm">
                          <p class="text-xs font-normal text-gray-500 dark:text-gray-300"> no nucleotides available. </p>
                      </div>
                  {% endfor %}
                </ul>
            </div>
          </div>
        </div>

        <div class="relative overflow-x-auto shadow-md sm:rounded-lg" id="seq-table">
        {% if not nucleotides|length %}
          <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow-sm dark:bg-gray-800 dark:border-gray-700">
              <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">No nucleotides have been downloaded yet.</h5>
              <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Click on the Download new nucleotide button to get started. </p>
          </div>
        {% else %}
              <p class="text-lg font-medium text-gray-900 dark:text-white">Loading sequence table...</p>
        {% endif %}
        </div>

      </div>
    </div>
    </section>

{% endblock content %}
